html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 24px;
}

.main-container {
    background-color: rgba(27, 15, 202, 0.719);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex: auto;
    flex-direction: column;
}

.header {
    background-color: aqua;
    padding: 10px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.game-container {
    margin-top: 30px;
    background-color: azure;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-self: center;
    justify-self: center;
}

.game-field {
    border: 1px solid black;
    background-color: rgba(200, 200, 200, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.disabled {
    pointer-events: none;
}

.reset-button {
    width: 100px;
    align-self: center;
}

.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    filter: blur(0px);
}

.blur {
    filter: blur(5px);
}

.none {
    display: none;
}

.grid-head {
    grid-area: head;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black;
    width: 100%;
    height: 100%;
}

.grid-main-1 {
    margin: 5px;
    grid-area: main-1;
}

.grid-main-2 {
    margin: 5px;
    grid-area: main-2;
}

.grid-main-1 p,
.grid-main-2 p {
    padding: 0;
    margin: 0;
}

.grid-foot {
    grid-area: foot;
    align-self: center;
    justify-self: center;
}

.friend-game-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 75px 30px;
    grid-template-areas: "head head" "main-1 main-2" "foot foot";
}