html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 24px;
}

.main-container {
    background-color: rgba(27, 15, 202, 0.719);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex: auto;
    flex-direction: column;
}

.header {
    background-color: aqua;
    padding: 10px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.game-container {
    margin-top: 30px;
    background-color: azure;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-self: center;
    justify-self: center;
}

.game-field {
    border: 1px solid black;
    background-color: rgba(200, 200, 200, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.disabled {
    pointer-events: none;
}

.reset-button {
    width: 100px;
    align-self: center;
}